.gcloudignore
.git
.gitignore
node_modules
**/node_modules
**/.next
**/dist
**/.env
**/.env.*
!**/.env.example
**/coverage
**/__tests__
**/*.test.ts
**/*.spec.ts
**/jest.config.*
README.md
*.md
.eslintrc*
.prettierrc*
docker-compose*
